extends layout
block content
    include messages
    .page-header.well
        .span6(style="text-align:center")
            .well
                h4 About CSV Upload Utility
                br
                p This utility is to assist in uploading CSV data into Apigee Edge or Apigee Free collections.
                This utility is provided as-is, and is covered under the <?> Open source license.

