extends layout
block content
    include messages
    .page-header.well
        .span6(style="text-align:center")
            .well
                h4 Contact -  CSV Upload Utility
                br
                h5 "I'm surrounded by defective circuitry..."
                    — Dr. Ivo Robotnik, Adventures of Sonic the Hedgehog
                br
                p Not sure how we want to provide support

