doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')

    script.
        function getFile()
        {
            document.getElementById("upfile").click();
        }
        function fileChange(obj)
        {
            var file = obj.value;
            var fileName = file.split("\\");
            document.getElementById("labelcsvfile").innerHTML = "File Selected: " + fileName[fileName.length-1];
            //document.myForm.submit();
            //event.preventDefault();
        }
  body
      .container-narrow
          .masthead
              ul.nav.nav-pills.pull-right
                  li.active
                      a(href='/') Home
                  li
                      a(href='/about') About
                  li
                      a(href='/contact') Contact
          h3.muted CSV Upload Utility
          hr
          .row-fluid.marketing
              .span6
                block content